<!-- choice.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See You L8r, Allidater</title>
    <style>
        body {
            background-color: pink;
        }
    </style>
</head>
<body>
    <h1>Tell me, which love are you seeking...</h1>
    <a href="/realusers" class="btn btn-primary">Show me my matches from real people!</a>
    <p></p>
    <a href="/generatedusers" class="btn btn-primary">Who needs real people? Generate me my dream match!</a>
    <p></p>
    <a href="/existingmatches" class="btn btn-primary">I just want to see who is already meant to be together...!</a>
</body>
</html>
